
*{
  margin:0;
  padding:0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.scores-of-countries{
   border:8px solid rgb(38, 223, 14);
   margin:15px;
   box-shadow: -5px 6px 1px 5px ;
   padding: 10px;
}

.Wrapper{
  margin: 1rem 30rem;
  width: fit-content;
  border:5px solid rgb(192, 24, 24);
  padding: 10px;
}
h1{
  margin:20px;
  text-align: center;
  color:green;
 
}
  .cards{
  display:grid;
  grid-template-columns: repeat(1,1fr);
 

   
}
.city{
  border:5px solid rgb(245, 203, 15);
  }
  .name{
    border-bottom: 2px solid rgb(31, 197, 125);
    font-size: 15px;
  }
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

